<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS template</title>
</head>
<body>
    <h1>Resultados de la busqueda: <%= data.userQuery %></h1>
    <% if(data.loggedIn){ %>
        <h2>Estas registrado como: <%= data.username %></h2>
    <% } %>
    <ul>
        <% data.searchResults.forEach(result => { %> <!--No va el signo igual (=) adelante porque no estamos mandando información-->
            <li><%= result %></li>
        <% }); %>
    </ul>
</body>
</html>