<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" href="css/styles.css">
</head>

<body id="body">
    <div class="jumbotron" id="primary-heading">
        <h1>ASTRONOMICAL IMAGES AND VIDEOS BY NASA</h1>
    </div>

    <div class="datepicker-image center">
        <div class="box_wrap">
            <h2 class="pb-2">Choose a date of your preference!</h2>
            <form id="info">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-8">
                            <input class="form-control" id="date" type="date" value="">
                        </div>
                        <div class="col-sm-4">
                            <button class="button" type="submit">Search</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="group-btn text-center">
                <form id="previous">
                    <button class="button mr-3" type="submit">Previous</button>
                </form>
                <form id="next">
                    <button class="button" id="btn-next" type="submit">Next</button>
                </form>
            </div>
        </div>
        <div class="explanation center">
            <h3>Explanation</h3>
            <div class="box-behind">
                <p id="title"></p>
                <p id="explanation"></p>
                <p id="copyright"></p>
                <p id="fullSizeImage"></p>
            </div>
        </div>
        <div class="box_wrap">
            <h3 class="imageHeading pb-2">Todays image/video:</h3>
            <div class="box" id="box"></div>
        </div>
    </div>
</body>

<!--javascript-->
<script src="/js/app.js"></script>
</html>