* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --bg: #1a1c20;
    --main-color: #1077d1;
}

body {
    background: var(--bg);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.datepicker-image {
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: start;
}

.datepicker-image .box_wrap {
    margin: 2em 0;
}

.button {
    font-size: 1.2em;
    background: none;
    color: var(--sec-font-color);
    border: none;
    cursor: pointer;
    border: 1px solid #1077d1;
    width: 7em;
    height: 2.2em;
    transition: all .4s;
}

.button:hover {
    background: #1077d1;
}

h1 {
    text-align: center;
    margin: 1.5rem;
    font-weight: bold;
    font-family: Impact, Charcoal, sans-serif;
}

h2 {
    text-align: center;
}

#primary-heading {
    background-image: url("../images/stars-background2.png");
}
